[submodule "third-party/Catch2"]
	path = third-party/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "third-party/rapidcheck"]
	path = third-party/rapidcheck
	url = https://github.com/emil-e/rapidcheck
